<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Contact Us</h2>

                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Contact</li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- End Breadcrumbs -->



    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-8">
                    <div class="portfolio-description">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <div
                                    class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
                                    {{!-- External --}}
                                    <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                        <h3 class="wp-block-heading"></h3>
                                        <div class="testimonial-item">
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                For External Relations and Communication
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                        </div>
                                        <p>◇ E-mail : <a href="mailto: jumjkito@gmail.com">
                                                <i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i>
                                                ararsobusiness123@gmail.com</a>
                                            <br>◇ Website: <a
                                                href="http://www.ararsobusiness.com">www.ararsobusiness.com</a>
                                            <br>◇
                                            Tel : <a href="tel:+251919231818">+251
                                                915093337 , Owner</a>


                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
                                    {{!-- ararso Business --}}
                                    <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                        <ul>
                                            <li style="list-style-type: none;">
                                                <ul>
                                                    <div class="testimonial-item">
                                                        <p>
                                                            <i class="bi bi-quote quote-icon-left"></i>
                                                            Ararso Raw Food Export Business
                                                            <i class="bi bi-quote quote-icon-right"></i>
                                                        </p>
                                                    </div>


                                                    <li>
                                                        ◇<a href="/directormessage">
                                                            Manager Mr. Atam
                                                        </a>
                                                    </li>
                                            </li>
                                            <li>◇ Manager of Ararso Raw Food Export Business

                                            </li>
                                            <li>◇ E-mail:
                                                <a href="mailto: Abdureufhusein5@gmail.com">
                                                    <i class="fa fa-envelope" aria-hidden="true"
                                                        style="color: red;"></i>
                                                    atam123@gmail.com
                                                </a>
                                            </li>
                                            <li>
                                                ◇ Tel : <a href="tel:+251919231818 ">
                                                    +251 948807505 </a>
                                            </li>
                                            <li>
                                                ◇ Tel : <a href="tel:+251919231818 ">
                                                    +251 915093337 </a>
                                            </li>
                                            <li>◇Harar , East Hararghe, Oromia, Ethiopia
                                            </li>
                                        </ul>
                                        </li>

                                    </div>
                                </div>

                                <div
                                    class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">

                                    {{!-- Regarding --}}
                                    <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">

                                        <ul>
                                            <li style="list-style-type: none;">
                                                <ul>
                                                    <div class="testimonial-item">
                                                        <p>
                                                            <i class="bi bi-quote quote-icon-left"></i>
                                                            Regarding this website Contact
                                                            <i class="bi bi-quote quote-icon-right"></i>
                                                        </p>
                                                    </div>
                                            </li>
                                            <li>◇ CEO of NileTech Plc</li>
                                            <li>◇ Anwar Mohammed</li>
                                            <li>◇ Bsc. Computer Science </li>
                                            <li>◇ E-mail: <a
                                                    href="mailto: niletech1513@gmail.com">NileTech1513@gmail.com</a>
                                            </li>
                                            <li>◇ Website: <a href="https://niletech.onrender.com">NileTech Pla</a>
                                            </li>
                                            <li>◇ Tel : <a href="tel:+251915137219 ">
                                                    +251 915 137 219 </a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>

                                <p>&nbsp;</p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Portfolio Details Section -->


    <!-- ======= Contact Section ======= -->
    <section id="div_16">
        {{> _email_contact}}
    </section>
    <!-- End Contact Section -->

</main>

<!-- End #main -->