<div class="pagetitle">
    <h1>Add New Renter to your Sena Business Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Rent</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="row p-2 ">
    <form action="/rent" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 renter name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="renter" class="form-label" required>Nama Kireffate</label>
            <input type="renter" class="form-control" id="renter" name="renter" placeholder="Maqaa nama Kireffatee">
        </div>
        <!--- 2 Place --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="place" class="form-label">Place</label>
            <select class="form-select" id="place" name="place">
                <option value="Kombolcha" selected>Kombolcha</option>
                <option value="Harar">Harar</option>
            </select>
        </div>
        <!--- 3 Phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="phone" class="form-label ">Phone</label>
            <input type="phone" class="form-control " id="phone" name="phone" placeholder="Enter Phone">
        </div>
        <!--- 4 birr--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="birr" class="form-label ">Amount in Birr</label>
            <input type="birr" class="form-control " id="birr" name="birr" placeholder="Enter Amount in Birr">
        </div>
        <!--- 5 bara --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="bara" class="form-label">Bara</label>
            <select class="form-select" id="bara" name="bara">
                <option value="2016" selected>2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <!--- 6 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 7 Month-1 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month1" class="form-label">Month-1</label>
            <select class="form-select" id="month1" name="month1">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 7 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-1</label>
            <input type="text" class="form-control " id="body1" name="body1" placeholder="Enter body">
        </div>
        <!--- 8 Month-2 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month2" class="form-label">Month-2</label>
            <select class="form-select" id="month2" name="month2">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 8 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-2</label>
            <input type="text" class="form-control " id="body2" name="body2" placeholder="Enter body">
        </div>
        <!--- 9 Month-3 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month3" class="form-label">Month-3</label>
            <select class="form-select" id="month3" name="month3">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 9 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-3</label>
            <input type="text" class="form-control " id="body3" name="body3" placeholder="Enter body">
        </div>
        <!--- 10 Month-4 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month4" class="form-label">Month-4</label>
            <select class="form-select" id="month4" name="month4">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 10 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-4</label>
            <input type="text" class="form-control " id="body4" name="body4" placeholder="Enter body">
        </div>
        <!--- 11 Month-5 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month5" class="form-label">Month-5</label>
            <select class="form-select" id="month5" name="month5">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 11 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-5</label>
            <input type="text" class="form-control " id="body5" name="body5" placeholder="Enter body">
        </div>
        <!--- 12 Month-6 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month6" class="form-label">Month-6</label>
            <select class="form-select" id="month6" name="month6">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 12 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-6</label>
            <input type="text" class="form-control " id="body6" name="body6" placeholder="Enter body">
        </div>
        <!--- 13 Month-7 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month7" class="form-label">Month-7</label>
            <select class="form-select" id="month7" name="month7">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 13 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-7</label>
            <input type="text" class="form-control " id="body7" name="body7" placeholder="Enter body">
        </div>
        <!--- 14 Month-8 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month8" class="form-label">Month-8</label>
            <select class="form-select" id="month8" name="month8">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 14 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-8</label>
            <input type="text" class="form-control " id="body8" name="body8" placeholder="Enter body8">
        </div>
        <!--- 15 Month-9 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month9" class="form-label">Month-9</label>
            <select class="form-select" id="month9" name="month9">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 15 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-9</label>
            <input type="text" class="form-control " id="body9" name="body9" placeholder="Enter body">
        </div>
        <!--- 16 Month-10 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month10" class="form-label">Month-10</label>
            <select class="form-select" id="month10" name="month10">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 16 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-10</label>
            <input type="text" class="form-control " id="body10" name="body10" placeholder="Enter body">
        </div>
        <!--- 17 Month-11 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month11" class="form-label">Month-11</label>
            <select class="form-select" id="month11" name="month11">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 17 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-11</label>
            <input type="text" class="form-control " id="body11" name="body11" placeholder="Enter body">
        </div>
        <!--- 18 Month-12 --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="month12" class="form-label">Month-12</label>
            <select class="form-select" id="month12" name="month12">
                <option value="Paid">Paid</option>
                <option value="Not-Paid" selected>Not-Paid</option>
            </select>
        </div>
        <!--- 18 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note Month-12</label>
            <input type="text" class="form-control " id="body12" name="body12" placeholder="Enter body">
        </div>


        <!--- 19 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Add </button>
            <a href="/rents" class="btn btn-warning">Cancel</a>
        </div>

    </form>
</div>