<style>
    #hr_about {
        border: 2px solid rgb(43, 253, 1);
    }

    #hr_wpb_column {
        border: 2px solid rgb(245, 33, 5);
    }

    .entry_content {
        display: flex;
    }

    .vc_row {
        flex-basis: 67%;
        padding-top: 50px;
        padding-right: 40px;
    }

    .wpb_column {
        flex-basis: 33%;
        padding-bottom: 30px;
        padding-left: 10px;
    }
</style>

<!-- ====== Breadcrumbs ====== -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Privacy Policy</h2>

                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Privacy</li>
            </ol>
        </div>
    </nav>
</div>
<!--- End Breadcrumbs --->


<div id="content" class="site-content">

    <div id="primary" class="content-area" style="padding-top: 60px; padding-left :50px;">
        <div class=" container">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <main id="main" class="site-main">
                        <article id="post-7395" class="post-7395 page type-page status-publish hentry">
                            <div class="entry-content">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <div
                                                            class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
                                                            <div
                                                                class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                                                <h3 class="wp-block-heading"> Privacy Policy </h3>
                                                                <p>Last Updated: Jan/27/2024 </p>
                                                            </div>
                                                            <div
                                                                class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                                                <p>Welcome to bilalmadrasa.onrender.com ! </p>
                                                                <p>
                                                                    This Privacy Policy explains how Bilal Madrasa
                                                                    collects, uses, and
                                                                    discloses information about you when you use our
                                                                    authentication services through Google Cloud
                                                                    Auth. By accessing or using our services, you
                                                                    agree to the terms outlined in this Privacy
                                                                    Policy.</p>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong>Information We Collect
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>Authentication Information: When
                                                                                    you use Google Cloud Auth for
                                                                                    authentication, we may collect
                                                                                    information such as your Google
                                                                                    account details, including your
                                                                                    name, email address, and profile
                                                                                    picture.</p>
                                                                            </li>
                                                                            <li>
                                                                                <p>Usage Information: We may collect
                                                                                    information about how you
                                                                                    interact with our authentication
                                                                                    services, including log files,
                                                                                    device information, and usage
                                                                                    patterns.
                                                                                </p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong>How We Use Your
                                                                                        Information
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>Authentication: We use the
                                                                                    information collected through
                                                                                    Google Cloud Auth to
                                                                                    authenticate and authorize your
                                                                                    access to our services.</p>
                                                                            </li>
                                                                            <li>
                                                                                <p>Improving Services: We analyze
                                                                                    usage data to improve our
                                                                                    authentication services, enhance
                                                                                    user experience, and optimize
                                                                                    performance.
                                                                                </p>
                                                                            </li>
                                                                            <li>
                                                                                <p>Communication: We may use your
                                                                                    contact information to
                                                                                    communicate with you about
                                                                                    updates, changes, or important
                                                                                    information related to our
                                                                                    services.
                                                                                </p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong>Information Sharing
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>We do not sell, trade, or
                                                                                    otherwise transfer your
                                                                                    information to third parties
                                                                                    unless we provide you with
                                                                                    advance notice or as required by
                                                                                    law.</p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong>Security
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>We implement security measures to
                                                                                    protect your information, but
                                                                                    please be aware that no method
                                                                                    of transmission over the
                                                                                    internet or electronic storage
                                                                                    is 100% secure.</p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong>Your Choices
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>You can control and manage the
                                                                                    information provided during the
                                                                                    authentication process. If you
                                                                                    have concerns or requests
                                                                                    regarding your data, please
                                                                                    contact us at
                                                                                    <i
                                                                                        class="bi bi-envelope d-flex align-items-center"><a
                                                                                            href="mailto:contact@example.com">niletech1513@gmail.com</a></i>
                                                                                </p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong> Changes to This Privacy
                                                                                        Policy
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>We may update this Privacy Policy
                                                                                    to reflect changes in our
                                                                                    practices or for other
                                                                                    operational, legal, or
                                                                                    regulatory reasons. We will
                                                                                    notify you of any material
                                                                                    changes by posting the new
                                                                                    Privacy Policy on this page.</p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>

                                                                <ul>
                                                                    <li style="list-style-type: none;">
                                                                        <ul>
                                                                            <li style="list-style-type: none;">
                                                                                <h5><strong>Contact Us
                                                                                    </strong></h5>
                                                                            </li>
                                                                            <li>
                                                                                <p>If you have any questions about
                                                                                    this Privacy Policy, please
                                                                                    contact us at
                                                                                    <i
                                                                                        class="bi bi-envelope d-flex align-items-center"><a
                                                                                            href="mailto:contact@example.com">niletech1513@gmail.com</a></i>
                                                                                    .
                                                                                </p>
                                                                            </li>
                                                                        </ul>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>