<div class="pagetitle">
    <h1>Add New Material Selled to Customer by Sena Business</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Sell</li>
            <li class="breadcrumb-item active">AddSell</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="row p-2 ">
    <form action="/sell" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 seller name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Seller Name</label>
            <input type="name" class="form-control" id="seller" name="seller" placeholder="Enter Seller Name">
        </div>
        <!--- 2 buyer_name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Buyer Name</label>
            <input type="name" class="form-control" id="buyer_name" name="buyer_name" placeholder="Enter Buyer Name">
        </div>

        <!--- 3 Material --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="material" class="form-label">Material</label>
            <select class="form-select" id="material" name="material">
                <option value="Dinicha" selected>Dinicha</option>
                <option value="Karot">Karot</option>
                <option value="Kurumba">Kurumba</option>
                <option value="Qayasir">Qayasir</option>
                <option value="Shunkurtaa">Shunkurtaa</option>
                <option value="Shukaar">Shukaar</option>
                <option value="Timaatim">Timaatim</option>
                <option value="Luqqaa">Luqqaa</option>
                <option value="Joniya">Joniya</option>
                <option value="Car Material">Car Material</option>
                <option value="Building Material">Building Material</option>
                <option value=" Other">Other</option>

            </select>
        </div>

        <!--- 4 kilogram--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Kilogram</label>
            <input type="text" class="form-control " id="kilogram" name="kilogram" placeholder="Enter kilogram">
        </div>
        <!--- 5 birr--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Amount in Birr</label>
            <input type="text" class="form-control " id="birr" name="birr" placeholder="Enter Amount in Birr">
        </div>
        <!--- 6 note --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="note" class="form-label ">Note</label>
            <input type="note" class="form-control " id="body" name="note" placeholder="Enter note">
        </div>
        <!--- 7 Phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Phone</label>
            <input type="phone" class="form-control " id="phone" name="phone" placeholder="Enter Phone">
        </div>

        <!--- 8 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 9 status --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status">
                <option value="Paid" selected>Paid</option>
                <option value="Not-Paid">Not-Paid</option>
            </select>
        </div>
        <!--- 9 car_id--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">car_id (Targa Makinaa)</label>
            <input type="text" class="form-control " id="car_id" name="car_id" placeholder="Enter car_id">
        </div>
        <!--- 10 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Add </button>
            <a href="/sell" class="btn btn-warning">Cancel</a>
        </div>

    </form>
</div>