<div class="pagetitle" style="padding-top: 10px;">
    <h1>Add New Material Bought By Sena Business</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Buy</li>
            <li class="breadcrumb-item active">AddBuy</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="row p-2 ">
    <form action="/buy" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Buyer Name</label>
            <input type="name" class="form-control" id="buyer_name" name="buyer_name" placeholder="Enter Buyer Name">
        </div>
        <!--- 2 Material --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="material" class="form-label">Material</label>
            <select class="form-select" id="material" name="material">
                <option value="Dinicha" selected>Dinicha</option>
                <option value="Karot">Karot</option>
                <option value="Kurumba">Kurumba</option>
                <option value="Qayasir">Qayasir</option>
                <option value="Shunkurtaa">Shunkurtaa</option>
                <option value="Shukaar">Shukaar</option>
                <option value="Timaatim">Timaatim</option>
                <option value="Luqqaa">Luqqaa</option>
                <option value="Joniya">Joniya</option>
                <option value="Car Material">Car Material</option>
                <option value="Building Material">Building Material</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <!--- 3 From_Seller--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">From (Seller )</label>
            <input type="text" class="form-control " id="from_seller" name="from_seller"
                placeholder="Enter From ( Seller )">
        </div>
        <!--- 4 Phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Phone</label>
            <input type="phone" class="form-control " id="phone" name="phone" placeholder="Enter Phone">
        </div>

        <!--- 5 kilogram --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Kilogram</label>
            <input type="text" class="form-control " id="kilogram" name="text" placeholder="Enter kilogram">
        </div>
        <!--- 6 Birr --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Amount in Birr</label>
            <input type="text" class="form-control " id="birr" name="birr" placeholder="Enter Amount in Birr">
        </div>

        <!--- 7 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 8 status --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status">
                <option value="Paid" selected>Paid</option>
                <option value="Not-Paid">Not-Paid</option>
            </select>
        </div>
        <!--- 9 body --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Note</label>
            <input type="text" class="form-control " id="body" name="text" placeholder="put your note">
        </div>
        <!--- 10 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Add </button>
            <a href="/bought" class="btn btn-warning">Cancel</a>
        </div>

    </form>
</div>