<main id="main">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-between">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h2 data-aos="fade-up"> Ararso Raw Food Exporter Company</h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        "At Ararso Business, we're more than just exporters; we're stewards of nature's bounty. From the
                        lush fields of East Ethiopia, our dedicated farmers cultivate the finest raw food materials with
                        a commitment to quality and sustainability. With each harvest, we embody the essence of our
                        region's rich agricultural heritage, delivering succulent tomatoes, crisp onions, and more to
                        nourish communities worldwide. Our unwavering dedication to ethical practices ensures that every
                        product reflects our values of environmental stewardship and social responsibility. Join us in
                        savoring the taste of excellence with Ararso Business."

                    </p>



                    <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="232"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Clients</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <p>Years of Exprience</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="1453"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Support</p>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-3 col-6">
                            <div class="stats-item text-center w-100 h-100">
                                <span data-purecounter-start="0" data-purecounter-end="102"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <p>Workers</p>
                            </div>
                        </div><!-- End Stats Item -->

                    </div>
                </div>

                <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                    <img src="image/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
                </div>

            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- =======  Manager Message Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div style="padding-left: 370px;">
                <h2> Manager Message</h2>
            </div>
            <div class="section-header">
                <h2> Welcome to Ararso Business Food Exporter Company </h2>
            </div>

            <div class="row gy-4">
                <div class="col-lg-6">
                    <h3> Ararso Business Food Exporter Company: A Premier Supplier of Raw Food Materials </h3>
                    <img src="/image/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    <p> <b> Sincerely,</b> </p>
                    <p>Welcome to our company </p>
                    <p>Company Manager</p>
                </div>
                <div class="col-lg-6" style="padding-top: 100px;">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            Dear clients, partners, staff, and distinguished visitors.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> Ararso Business Food Exporter Company, guided by
                                the mission of providing quality agricultural exports, embodies a commitment to
                                excellence, sustainability, and ethical practices...</li>
                            <li><i class="bi bi-check-circle-fill"></i>Our company actively promotes diversity,
                                welcoming individuals from various backgrounds and regions.</li>
                            <li><i class="bi bi-check-circle-fill"></i>Thank you for your interest in Ararso Business
                                Food
                                Exporter Company. We invite you to explore our website, and your enthusiasm and
                                engagement are highly valued and appreciated.</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Manager Message Us Section -->



    <!-- ======= Featured Services Section ======= -->
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">

        <div class="container">
            <h4 class="title" style="padding-bottom: 30px;">Features of Our Company</h4>
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
                    <div>
                        <h4 class="title">Ararso Business Food Exporter Company</h4>
                        <p class="description">Exporting fresh and high-quality food products worldwide</p>
                    </div>
                </div><!-- End Service Item -->
                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
                    <div>
                        <h4 class="title">Our Services</h4>
                        <p class="description">Providing efficient logistics and timely delivery services</p>

                    </div>
                </div><!-- End Service Item -->
                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
                    <div>
                        <h4 class="title">Customer Satisfaction</h4>
                        <p class="description">Ensuring customer satisfaction through top-notch service and product
                            quality</p>

                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </section><!-- End Featured Services Section -->

    <!-- End Featured Services Section -->




    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">
                <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                    <img src="image/about.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                </div>
                <div class="col-lg-6 content order-last  order-lg-first">
                    <h3>About Us</h3>
                    <p>
                        Nestled in the vibrant heart of East Ethiopia, Ararso Business Food Exporter Company stands as a
                        beacon of excellence in the realm of agricultural exports.
                    </p>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-diagram-3"></i>
                            <div>
                                <p>As the sun rises over the fertile lands of Ethiopia, Ararso Business Food Exporter
                                    Company's diligent farmers begin their day, meticulously tending to fields abundant
                                    with the finest produce nature has to offer.</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-fullscreen-exit"></i>
                            <div>
                                <p>As the sun sets on another day of hard work and dedication, Ararso Business Food
                                    Exporter Company stands poised on the cusp of endless possibilities, driven by their
                                    vision of a world where food knows no borders and nourishment knows no bounds.

                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-broadcast"></i>
                            <div>
                                <p>At Ararso Business Food Exporter Company, exporting goes beyond mere commerce—it's a
                                    bridge that connects cultures, enriches lives, and fosters global exchange</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->



    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <span>Our Services</span>
                <h2>Our Services</h2>
            </div>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img">
                            <img src="image/storage-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="" class="stretched-link">Storage</a></h3>
                        <p>High-quality storage services to meet your needs.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <div class="card-img">
                            <img src="image/logistics-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="" class="stretched-link">Logistics</a></h3>
                        <p>Efficient logistics solutions for seamless transportation.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <div class="card-img">
                            <img src="image/cargo-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="" class="stretched-link">Cargo</a></h3>
                        <p>Reliable cargo services to ensure timely delivery.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="card">
                        <div class="card-img">
                            <img src="image/trucking-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="" class="stretched-link">Trucking</a></h3>
                        <p>Efficient trucking services for safe transportation of goods.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="card">
                        <div class="card-img">
                            <img src="image/packaging-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="" class="stretched-link">Packaging</a></h3>
                        <p>Professional packaging services to ensure product safety.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="card">
                        <div class="card-img">
                            <img src="image/warehousing-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="" class="stretched-link">Warehousing</a></h3>
                        <p>Secure warehousing solutions to store your goods.</p>
                    </div>
                </div><!-- End Card Item -->

            </div>

        </div>
    </section><!-- End Services Section -->


    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="zoom-out">

            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3>Call To Action</h3>
                    <p>
                        As the Manager of Bilal Madrasa, I am delighted to extend a warm greeting to you. Our school
                        is committed to providing exceptional education and fostering a supportive community where every
                        student
                        can thrive academically, socially, and personally.
                    </p>
                    <a class="cta-btn" href="/contact">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

                <div class="col-md-5">
                    <img src="/image/features/features-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <h3>High-Quality Products</h3>
                    <p class="fst-italic">
                        Our products are sourced directly from our farms in East Ethiopia, ensuring freshness and
                        quality.
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> Fresh and locally grown</li>
                        <li><i class="bi bi-check"></i> Rigorous quality control</li>
                        <li><i class="bi bi-check"></i> Sustainable farming practices</li>
                    </ul>
                </div>
            </div><!-- Features Item -->

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="/image/features/features-2.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 order-2 order-md-1">
                    <h3>Reliable Export Services</h3>
                    <p class="fst-italic">
                        We ensure timely delivery and efficient export processes to meet our clients' needs.
                    </p>
                    <p>
                        Our experienced team handles logistics and documentation, guaranteeing smooth transactions and
                        on-time deliveries.
                    </p>
                </div>
            </div><!-- Features Item -->

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="/image/features/features-3.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <h3>Customer Satisfaction</h3>
                    <p>We prioritize customer satisfaction and strive to exceed expectations through exceptional service
                        and
                        support.</p>
                    <ul>
                        <li><i class="bi bi-check"></i> Responsive customer support</li>
                        <li><i class="bi bi-check"></i> Tailored solutions</li>
                        <li><i class="bi bi-check"></i> Continuous improvement</li>
                    </ul>
                </div>
            </div><!-- Features Item -->

            <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="/image/features/features-4.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 order-2 order-md-1">
                    <h3>Environmental Responsibility</h3>
                    <p class="fst-italic">
                        We are committed to sustainable practices that minimize environmental impact.
                    </p>
                    <p>
                        Our farming methods prioritize soil health, water conservation, and biodiversity preservation to
                        ensure a greener future.
                    </p>
                </div>
            </div><!-- Features Item -->

        </div>
    </section>
    <!-- End Features Section -->

    <!-- End Features Section -->



    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter pt-0">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Clients</p>
                    </div>
                </div>
                <!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Projects</p>
                    </div>
                </div>
                <!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Hours Of Support</p>
                    </div>
                </div>
                <!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Workers</p>
                    </div>
                </div>
                <!-- End Stats Item -->

            </div>

        </div>
    </section><!-- End Stats Counter Section -->



    <!-- ======= Testimonials Section ======= -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-header">
                <h2 style="color: aliceblue;">Customer Testimonials</h2>
            </div>

            <div class="slides-1 swiper" data-aos="fade-up">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="image/testimonials/testimonials-1.png" class="testimonial-img" alt="">
                            <h3>Mohammed Ali</h3>
                            <h4>CEO, Fresh Farms Ltd.</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Ararso Business has been our reliable partner for sourcing quality agricultural
                                products.
                                Their commitment to excellence and customer satisfaction is commendable.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="image/testimonials/testimonials-2.png" class="testimonial-img" alt="">
                            <h3>Yasin Hassan</h3>
                            <h4>Purchasing Manager, Green Grocers Inc.</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Working with Ararso Business has been a pleasure. Their attention to detail and
                                commitment
                                to delivering fresh produce have exceeded our expectations.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="image/testimonials/testimonials-3.png" class="testimonial-img" alt="">
                            <h3>Hussen Hussein</h3>
                            <h4>Restaurant Owner, Spice Delight</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Ararso Business consistently provides us with top-quality ingredients, helping us
                                maintain
                                the high standards our customers expect from us.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="image/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Obsaa Fuad</h3>
                            <h4>Raw Food Distributer and Owner, Spice Delight</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                    class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Ararso Business consistently provides us with top-quality ingredients, helping us
                                maintain
                                the high standards our customers expect from us.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- End Testimonials Section -->


    <!-- ======= Our Services Section ======= -->
    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Products Offered by Ararso Business</h2>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
                {{!-- 1 --}}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-egg-fried"></i>
                        </div>
                        <h3>Potatoes</h3>
                        <p>Fresh and high-quality potatoes sourced directly from our farms in East Ethiopia.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                {{!-- 2 --}}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-egg-fried"></i>
                        </div>
                        <h3>Tomatoes</h3>
                        <p>Plump and juicy tomatoes harvested with care from our fields in East Ethiopia.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                {{!-- 3 --}}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-egg-fried"></i>
                        </div>
                        <h3>Onions</h3>
                        <p>Fresh and aromatic onions cultivated sustainably in the fertile lands of East Ethiopia.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                {{!-- 4 --}}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-egg-fried"></i>
                        </div>
                        <h3>Beans</h3>
                        <p>High-quality beans grown and processed with care to meet your culinary needs.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                {{!-- 5 --}}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-egg-fried"></i>
                        </div>
                        <h3>Grains</h3>
                        <p>Nutritious grains sourced from our fields, providing essential dietary elements for your
                            meals.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                {{!-- 6 --}}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-egg-fried"></i>
                        </div>
                        <h3>Spices</h3>
                        <p>Exotic spices carefully selected and packaged to enhance the flavors of your dishes.</p>
                    </div>
                </div>
                <!-- End Service Item -->
            </div>

        </div>
    </section><!-- End Our Services Section -->

    <!-- End Our Services Section -->




    <!-- ======= Our Team Section ======= -->
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our Team</h2>
                <p>At Ararso Business, we are proud of our dedicated and skilled team, working together with passion and
                    expertise to achieve excellence in every endeavor. Each member brings unique talents and experiences
                    to the table, contributing to our shared success.</p>
            </div>

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="/image/team/team-1.png" class="img-fluid" alt="team image" style="height: 300px;">
                        <h4>Mr. Ali Ahmed</h4>
                        <span>Operations Manager</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="/image/team/team-2.png" class="img-fluid" alt="team image" style="height: 300px;">
                        <h4>Ms. Fatima Abdi</h4>
                        <span>Quality Assurance Specialist</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="/image/team/team-3.png" class="img-fluid" alt="team image" style="height: 300px;">
                        <h4>Mr. Ibrahim Hassan</h4>
                        <span>Logistics Coordinator</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="/image/team/team-4.png" class="img-fluid" alt="team image" style="height: 300px;">
                        <h4>Ms. Jamal Mohamed</h4>
                        <span>Marketing Manager</span>
                        <div class="social">
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>
    </section><!-- End Our Team Section -->

    <!-- End Our Team Section -->



    <!-- ======= Ararso Business Description Questions Section ======= -->

    <section id="description-questions" class="description-questions">

        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="content px-xl-5">
                        <h3>Discover <strong>Ararso Business</strong></h3>
                        <p>
                            About Ararso Business Food Exporter Company
                        </p>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="accordion accordion-flush" id="description-questions-list" data-aos="fade-up"
                        data-aos-delay="100">

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#description-question-content-1">
                                    <span class="num">1.</span>
                                    Where is Ararso Business located?
                                </button>
                            </h3>
                            <div id="description-question-content-1" class="accordion-collapse collapse"
                                data-bs-parent="#description-questions-list">
                                <div class="accordion-body">
                                    🌍 Ararso Business Food Exporter Company is situated in the vibrant region of East
                                    Ethiopia. Our headquarters are nestled in the heart of this fertile land, allowing
                                    us to access the finest raw food materials for export.
                                </div>
                            </div>
                        </div><!-- # Description question item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#description-question-content-2">
                                    <span class="num">2.</span>
                                    How does Ararso Business contribute to the community?
                                </button>
                            </h3>
                            <div id="description-question-content-2" class="accordion-collapse collapse"
                                data-bs-parent="#description-questions-list">
                                <div class="accordion-body">
                                    🌱 Ararso Business is committed to making a positive impact on the local community.
                                    Through sustainable agricultural practices, job creation, and support for
                                    smallholder farmers, we strive to empower and uplift the communities in which we
                                    operate.
                                </div>
                            </div>
                        </div><!-- # Description question item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#description-question-content-3">
                                    <span class="num">3.</span>
                                    What sets Ararso Business apart from others?
                                </button>
                            </h3>
                            <div id="description-question-content-3" class="accordion-collapse collapse"
                                data-bs-parent="#description-questions-list">
                                <div class="accordion-body">
                                    🚀 Ararso Business distinguishes itself through a dedication to quality,
                                    sustainability, and innovation. We prioritize customer satisfaction, ethical
                                    practices, and environmental stewardship, ensuring that our products exceed
                                    expectations and make a positive impact globally.
                                </div>
                            </div>
                        </div><!-- # Description question item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#description-question-content-4">
                                    <span class="num">4.</span>
                                    How is Ararso Business structured?
                                </button>
                            </h3>
                            <div id="description-question-content-4" class="accordion-collapse collapse"
                                data-bs-parent="#description-questions-list">
                                <div class="accordion-body">
                                    🏢 Ararso Business operates with a well-defined organizational structure designed to
                                    ensure efficiency and effectiveness. Our structure includes dedicated teams for
                                    production, quality control, sales, and customer service, all working seamlessly
                                    together to deliver excellence.
                                </div>
                            </div>
                        </div><!-- # Description question item-->

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Ararso Business Description Questions Section -->



    <!-- ======= Contact Section ======= -->
    <section id="div_16">
        {{> _email_contact}}
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->
{{!-- web3forms for email --}}
<script src="https://web3forms.com/client/script.js" async defer></script>