<div class="pagetitle" style="padding-top: 10px;">
    <h1> Waajjirri Galii Daldalaa Aanaa Kombolchaa </h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Register</li>
            <li class="breadcrumb-item active">Register</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="row p-2 ">
    <form action="/registration" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 Maqaa Daldalaa --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Maqaa Daldalaa</label>
            <input type="name" class="form-control" id="daldalaa" name="daldalaa" placeholder="Maqaa daldalaa">
        </div>
        <!--- 2 gareedaldalaa --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="gareedaldalaa" class="form-label">Garee Daldalaa</label>
            <select class="form-select" id="gareedaldalaa" name="gareedaldalaa">
                <option value="A" selected>A</option>
                <option value="B">B</option>
                <option value="C">C</option>

            </select>
        </div>
        <!--- 3 araddaa --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="araddaa" class="form-label">Araddaa</label>
            <select class="form-select" id="araddaa" name="araddaa">
                <option value="01" selected>01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
        </div>
        <!--- 4 Phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="text" class="form-label ">Phone</label>
            <input type="phone" class="form-control " id="phone" name="phone" placeholder="Enter Phone">
        </div>
        <!--- 5 bara --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="bara" class="form-label">Bara</label>
            <select class="form-select" id="bara" name="bara">
                <option value="2017">2014</option>
                <option value="2017">2015</option>
                <option value="2016" selected>2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2018">2019</option>
                <option value="2018">2020</option>

            </select>
        </div>
        <!--- 6 gibirawaggaa --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Gibira Waggaa Qarshiin </label>
            <input type="gibirawaggaa " class="form-control" id="gibirawaggaa" name="gibirawaggaa"
                placeholder="Gibira Waggaa ">
        </div>
        <!--- 7 status --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status">
                <option value="Paid" selected>Paid</option>
                <option value="Not-Paid">Not-Paid</option>
            </select>
        </div>
        <!--- 8 tin_number --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Tin-Number kan Daldalaa </label>
            <input type="tin_number " class="form-control" id="tin_number" name="tin_number" placeholder="Tin Number ">
        </div>
        <!--- 9 body --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Yadannoo/Note </label>
            <input type="text " class="form-control" id="body" name="body" placeholder="Yadannoo ">
        </div>

        <!--- 10 Image Daldalaa --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image1" class="form-label">Photo Daldalaa</label>
            <input type="file" class="form-control" id="image1" name="images">
        </div>
        <!--- 11 Image Ragaa --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image2" class="form-label">Photo Ragaa</label>
            <input type="file" class="form-control" id="image2" name="images">
        </div>

        <!--- 12 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">+ Dabalii </button>
            <a href="/registrations" class="btn btn-warning">Cancel</a>
        </div>

    </form>
</div>